.filter-option {
    border: 0px !important;
}

.badge-outline {
    color: #212529;
    border: 2px solid #212529;
    background-color: transparent;
}

.header-modal-bg {
    background-color: #ced4da;
}

.col-15 {
    flex: 0 0 auto;
    width: 10.33333333%;
}