<div class="container">
    <br>

    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center border-secondary shadow p-3 mb-5 bg-body rounded card-presentation-game">
                <div class="card-header">
                    <div class="row">
                        <div class="col colsm-6">
                            <h6 class="text-muted">Campeonato Brasileiro</h6>
                        </div>
                        <div class="col colsm-6">
                            <h6 class="text-muted">Tempo de Jogo: 37:30</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4">
                            <h5>Flamengo</h5>
                        </div>
                        <div class="col col-4">
                            <h5>1 - 0</h5>
                        </div>
                        <div class="col col-4">
                            <h5>Vasco</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-3">
                            <h5>65%</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Posse de Bola</h5>
                        </div>
                        <div class="col col-3">
                            <h5>35%</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>11</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Chutes</h5>
                        </div>
                        <div class="col col-3">
                            <h5>3</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>7</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Escanteios</h5>
                        </div>
                        <div class="col col-3">
                            <h5>1</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center border-secondary shadow p-3 mb-5 bg-body rounded card-presentation-game">
                <div class="card-header">
                    <div class="row">
                        <div class="col colsm-6">
                            <h6 class="text-muted">Campeonato Brasileiro</h6>
                        </div>
                        <div class="col colsm-6">
                            <h6 class="text-muted">Tempo de Jogo: 37:30</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4">
                            <h5>Flamengo</h5>
                        </div>
                        <div class="col col-4">
                            <h5>1 - 0</h5>
                        </div>
                        <div class="col col-4">
                            <h5>Vasco</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-3">
                            <h5>65%</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Posse de Bola</h5>
                        </div>
                        <div class="col col-3">
                            <h5>35%</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>11</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Chutes</h5>
                        </div>
                        <div class="col col-3">
                            <h5>3</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>7</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Escanteios</h5>
                        </div>
                        <div class="col col-3">
                            <h5>1</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center border-secondary shadow p-3 mb-5 bg-body rounded card-presentation-game">
                <div class="card-header">
                    <div class="row">
                        <div class="col colsm-6">
                            <h6 class="text-muted">Campeonato Brasileiro</h6>
                        </div>
                        <div class="col colsm-6">
                            <h6 class="text-muted">Tempo de Jogo: 37:30</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4">
                            <h5>Flamengo</h5>
                        </div>
                        <div class="col col-4">
                            <h5>1 - 0</h5>
                        </div>
                        <div class="col col-4">
                            <h5>Vasco</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-3">
                            <h5>65%</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Posse de Bola</h5>
                        </div>
                        <div class="col col-3">
                            <h5>35%</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>11</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Chutes</h5>
                        </div>
                        <div class="col col-3">
                            <h5>3</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>7</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Escanteios</h5>
                        </div>
                        <div class="col col-3">
                            <h5>1</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center border-secondary shadow p-3 mb-5 bg-body rounded card-presentation-game">
                <div class="card-header">
                    <div class="row">
                        <div class="col colsm-6">
                            <h6 class="text-muted">Campeonato Brasileiro</h6>
                        </div>
                        <div class="col colsm-6">
                            <h6 class="text-muted">Tempo de Jogo: 37:30</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4">
                            <h5>Flamengo</h5>
                        </div>
                        <div class="col col-4">
                            <h5>1 - 0</h5>
                        </div>
                        <div class="col col-4">
                            <h5>Vasco</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-3">
                            <h5>65%</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Posse de Bola</h5>
                        </div>
                        <div class="col col-3">
                            <h5>35%</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>11</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Chutes</h5>
                        </div>
                        <div class="col col-3">
                            <h5>3</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>7</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Escanteios</h5>
                        </div>
                        <div class="col col-3">
                            <h5>1</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>


</div>