<div class="container">
    <app-menu></app-menu>

    <br>

    <div class="text-center" *ngIf="loading">
        <div class="spinner-border spinner-loading text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <br>

    <div class="row">
        <ng-container *ngIf="!noGamesAvaiable">
            <div class="col-sm-3 animate__animated animate__zoomIn" *ngFor="let game of matchs">
                <div
                    class="card text-center shadow p-3 mb-5 rounded card-presentation-game border-secondary {{changeCardByScore(game.score)}}">
                    <span class="badge {{changeBadgeByScore(game.score)}} border-secondary">SCORE: {{game.score}} |
                        APOSTA: {{game.betName}}</span>
                    <div class="card-header">
                        <div class="row text-start">
                            <div class="col col-12">
                                <h6> {{game.leagueName}} </h6>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col col-12">
                                <h6>{{game.home.name}} - {{game.away.name}}</h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col col-4">
                                <div class="row">
                                    <app-logo-team [urlLogo]="game.home.logo" [nameTeam]="game.home.name"
                                        [team]="game.home" [leagueName]="game.leagueName"></app-logo-team>
                                </div>
                            </div>
                            <div class="col col-4 center mt-2">
                                <h4>{{game.home.score}} - {{game.away.score}}</h4>
                                <h6>Minutos: {{game.minutesOfMatch}}</h6>
                            </div>
                            <div class="col col-4">
                                <div class="row">
                                    <app-logo-team [urlLogo]="game.away.logo" [nameTeam]="game.away.name"
                                        [leagueName]="game.leagueName" [team]="game.away"></app-logo-team>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col col-3">
                                <h5>{{game.home.ballPossession}}%</h5>
                            </div>
                            <div class="col col-6">
                                <h5>Posse de Bola</h5>
                            </div>
                            <div class="col col-3">
                                <h5>{{game.away.ballPossession}}%</h5>
                            </div>
                            <div class="split-div"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col col-3">
                                <h5>{{game.home.attacks}}</h5>
                            </div>
                            <div class="col col-6">
                                <h5>Ataques</h5>
                            </div>
                            <div class="col col-3">
                                <h5>{{game.away.attacks}}</h5>
                            </div>
                            <div class="split-div"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col col-3">
                                <h5>{{game.home.dangerousAttack}}</h5>
                            </div>
                            <div class="col col-6">
                                <h5>Ataques Perigosos</h5>
                            </div>
                            <div class="col col-3">
                                <h5>{{game.away.dangerousAttack}}</h5>
                            </div>
                            <div class="split-div"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col col-3">
                                <h5>{{game.home.shotOnGoal}}</h5>
                            </div>
                            <div class="col col-6">
                                <h5>Chutes no Gol</h5>
                            </div>
                            <div class="col col-3">
                                <h5>{{game.away.shotOnGoal}}</h5>
                            </div>
                            <div class="split-div"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col col-3">
                                <h5>{{game.home.shotOffGoal}}</h5>
                            </div>
                            <div class="col col-6">
                                <h5>Chutes pra Fora</h5>
                            </div>
                            <div class="col col-3">
                                <h5>{{game.away.shotOffGoal}}</h5>
                            </div>
                            <div class="split-div"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col col-3">
                                <h5>{{game.home.cornerKick}}</h5>
                            </div>
                            <div class="col col-6">
                                <h5>Escanteios</h5>
                            </div>
                            <div class="col col-3">
                                <h5>{{game.away.cornerKick}}</h5>
                            </div>
                            <div class="split-div"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col col-3">
                                <h5>{{game.home.redCard}}</h5>
                            </div>
                            <div class="col col-6">
                                <h5>Cartões Vermelhos</h5>
                            </div>
                            <div class="col col-3">
                                <h5>{{game.away.redCard}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 mt-2">
                                <a href="{{game.urlBet365}}"
                                    class="btn btn-success btn-sm {{verifyLinkBetDisabled(game.urlBet365)}}"
                                    target="_blank" dis>
                                    Bet365
                                </a>
                            </div>
                            <div class="col-6 mt-2">
                                <fa-icon [icon]="faTelegram" size="2x" [styles]="{'color': '#0088cc'}"
                                    title="Enviar Notificação Telegram"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="noGamesAvaiable">
            <div class="alert alert-warning text-center">
                Não há jogos que atendem os pré-requisitos
            </div>
        </ng-container>
    </div>

    <br>


</div>