<div class="container">
    <br>

    <div class="row">
        <div class="col-sm-3" *ngFor="let game of matchs">
            <div class="card text-center shadow p-3 mb-5 rounded card-presentation-game border-secondary {{changeCardByScore(game.score)}}">
                <div class="card-header">
                    <div class="row">
                        <div class="col colsm-6">
                            <h6> {{game.leagueName}} </h6>
                        </div>
                        <div class="col colsm-6">
                            <h6>Tempo de Jogo: {{game.minutesOfMatch}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-4">
                            <div class="row">
                                <h5>{{game.home.name}}</h5>
                            </div>
                            <div class="row">
                                <img [src]="game.home.logo" alt="">
                            </div>
                        </div>
                        <div class="col col-4 center">
                            <h5>{{game.home.score}} - {{game.away.score}}</h5>
                        </div>
                        <div class="col col-4">
                            <div class="row">
                                <h5>{{game.away.name}}</h5>
                            </div>
                            <div class="row">
                                <img [src]="game.away.logo" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-3">
                            <h5>{{game.home.ballPossession}}%</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Posse de Bola</h5>
                        </div>
                        <div class="col col-3">
                            <h5>{{game.away.ballPossession}}%</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>{{game.home.shotOnGoal}}</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Chutes no Gol</h5>
                        </div>
                        <div class="col col-3">
                            <h5>{{game.away.shotOnGoal}}</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>{{game.home.shotOffGoal}}</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Chutes pra Fora</h5>
                        </div>
                        <div class="col col-3">
                            <h5>{{game.away.shotOffGoal}}</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>{{game.home.cornerKick}}</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Escanteios</h5>
                        </div>
                        <div class="col col-3">
                            <h5>{{game.away.cornerKick}}</h5>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col col-3">
                            <h5>{{game.home.redCard}}</h5>
                        </div>
                        <div class="col col-6">
                            <h5>Cartões Vermelhos</h5>
                        </div>
                        <div class="col col-3">
                            <h5>{{game.away.redCard}}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col col-6">
                            SCORE: {{game.score}}
                        </div>
                        <div class="col col-6">
                            <button class="btn btn-success btn-sm">Bet 365</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>


</div>