.card-presentation-game h5 {
    font-size: 0.8em;
}

.card-presentation-game h6 {
    font-size: 0.7em;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-game-wormming {
    background-color: #A5D6A7;
    border-color: #4CAF50 !important;
}

.card-game-hot {
    background-color: #4CAF50;
    color: white;
    border-color: #2E7D32 !important;
}

.center {
    margin: auto;
}

.spinner-loading {
    width: 3em;
    height: 3em;
}