<div class="container">
    <div class="card form-register shadow border-secondary">
        <div class="card-header">
            <h2>Cadastro Black List</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-3">
                        <a placement="top" ngbTooltip="Selecione a liga para inseri-la na Black List">
                            <fa-icon [icon]="faCircleInfo" size="lg"></fa-icon>
                        </a>
                        <div class="form-floating shadow">
                            <select class="form-select" id="floatingSelect">
                                <option selected disabled>Liga</option>
                                <option value="1">Premier League</option>
                                <option value="2">La Liga</option>
                            </select>
                            <label for="floatingSelect">Ligas cadastradas</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-lg btn-dark">Salvar</button>
        </div>
    </div>
</div>