<form #f="ngForm">
    <div class="row">
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="text" [(ngModel)]="model.name" name="nameBet"
                    class="form-control border-secondary" id="inputNameBet" placeholder="Nome da Aposta">
                <input *ngIf="requestBetType != null" type="text" [value]="requestBetType.name"
                    (input)="requestBetType.name" name="nameBet" class="form-control border-secondary" id="inputNameBet"
                    placeholder="Nome da Aposta">
                <label for="inputNameBet" class="form-label">Nome da Aposta</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="number" [(ngModel)]="model.maximumDifferenceInResult"
                    name="maximumDifferenceGol" class="form-control border-secondary" id="inputMaximumDifference"
                    placeholder="Nome da Aposta">
                <input *ngIf="requestBetType != null" type="text" [value]="requestBetType.maximumDifferenceInResult"
                    (input)="requestBetType.maximumDifferenceInResult" name="maximumDifferenceGol"
                    class="form-control border-secondary" id="inputMaximumDifference" placeholder="Nome da Aposta">
                <label for="inputMaximumDifference" class="form-label">Máxima Diferença de Gols</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="text" [(ngModel)]="model!.resultRequired" name="resulRequired"
                    class="form-control border-secondary" id="inputResultRequired" placeholder="Status da Partida">
                <input *ngIf="requestBetType != null" type="text" [value]="requestBetType.resultRequired"
                    (input)="requestBetType.resultRequired" name="resulRequired" class="form-control border-secondary"
                    id="inputResultRequired" placeholder="Status da Partida">
                <label for="inputResultRequired" class="form-label">Status da Partida</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="number" [(ngModel)]="model!.minimumScore" name="inputminimumScore"
                    class="form-control border-secondary" id="inputminimumScore" placeholder="Valor Score Mínimo">
                <input *ngIf="requestBetType != null" type="number" [value]="requestBetType.minimumScore"
                    (input)="requestBetType.minimumScore" name="minimumScore" class="form-control border-secondary"
                    id="inputminimumScore" placeholder="Valor Score Mínimo">
                <label for="inputminimumScore" class="form-label">Valor Score Mínimo</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="number" [(ngModel)]="model!.goodScore" name="goodScore"
                    class="form-control border-secondary" id="inputScoreAlmostEntry" placeholder="Valor Bom Score">
                <input *ngIf="requestBetType != null" type="number" [value]="requestBetType.goodScore"
                    (input)="requestBetType.goodScore" name="scoreEntry" class="form-control border-secondary"
                    id="inputScoreAlmostEntry" placeholder="Valor Score (Padrão de Entrada)">
                <label for="inputMinimumTimeAnalysis" class="form-label">Valor Bom Score</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="number" [(ngModel)]="model!.greatScore" name="greatScore"
                    class="form-control border-secondary" id="inputScoreAlmostEntry"
                    placeholder="Valor Excelente Score">
                <input *ngIf="requestBetType != null" type="number" [value]="requestBetType.greatScore"
                    (input)="requestBetType.greatScore" name="scoreEntry" class="form-control border-secondary"
                    id="inputScoreAlmostEntry" placeholder="Valor Excelente Score">
                <label for="inputMinimumTimeAnalysis" class="form-label">Valor Excelente Score</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-floating">
                <!-- <select class="form-select shadow border-secondary" name="periodMatch" [(ngModel)]="model.periodMatch"
                    [ngModelOptions]="{standalone:true}" (ngModelChange)="onChangePeriodMatch($event)"
                    aria-label="Default select example" id="selectPeriod">
                    <option selected disabled>Período do Jogo</option>
                    <option value="1" [ngValue]="model!.periodMatch">1T</option>
                    <option value="2" [ngValue]="model!.periodMatch">2T</option>
                </select>
                <label for="selectPeriod">Período do Jogo</label> -->
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="text" [value]="model!.minimumDashMinute"
                    (input)="model!.minimumDashMinute" name="minimumDashMinute" class="form-control border-secondary"
                    id="inputMinimumTimeAnalysis" placeholder="Tempo Mínimo de Análise da Aposta (Min)">
                <input *ngIf="requestBetType != null" type="text" [value]="requestBetType.minimumDashMinute"
                    (input)="requestBetType.minimumDashMinute" name="minimumDashMinute"
                    class="form-control border-secondary" id="inputMinimumTimeAnalysis"
                    placeholder="Tempo Mínimo de Análise da Aposta (Min)">
                <label for="inputMinimumTimeAnalysis" class="form-label">Tempo Mínimo de
                    Análise de Aposta no Dash
                </label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input *ngIf="model != null" type="text" class="form-control border-secondary"
                    [value]="model!.maximumDashMinute" (input)="model!.maximumDashMinute" name="maximumDashMinute"
                    id="inputMaximumTimeAnalysis" placeholder="Tempo Máximo de Análise da Aposta (Min)">
                <input *ngIf="requestBetType != null" type="text" class="form-control border-secondary"
                    [value]="requestBetType.maximumDashMinute" (input)="requestBetType.maximumDashMinute"
                    name="maximumDashMinute" id="inputMaximumTimeAnalysis"
                    placeholder="Tempo Máximo de Análise da Aposta (Min)">
                <label for="inputMaximumTimeAnalysis" class="form-label">Tempo Máximo de
                    Análise de Aposta no Dash
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngIf="model.corner">
            <div class="form-check mb-2">
                <input *ngIf="model != null" class="form-check-input" type="checkbox" [value]="model.corner"
                    (input)="model.corner" [checked]="model.corner" name="isCorner" id="flexCheckDefault">
                <input *ngIf="requestBetType != null" class="form-check-input" type="checkbox"
                    [value]="requestBetType.enabled" (input)="requestBetType.enabled" name="isCorner"
                    id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    É mercado de escanteios?
                </label>
            </div>
        </div>
        <div class="col-4" *ngIf="model.equal">
            <div class="form-check mb-2">
                <input *ngIf="model != null" class="form-check-input" type="checkbox" [value]="model.equal"
                    (input)="model.equal" [checked]="model.equal" name="isEqual" id="flexCheckDefault">
                <input *ngIf="requestBetType != null" class="form-check-input" type="checkbox"
                    [value]="requestBetType.enabled" (input)="requestBetType.enabled" name="isEqual"
                    id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    É Race ?
                </label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-check">
                <input *ngIf="model != null" class="form-check-input" type="checkbox" [value]="model.enabled"
                    (input)="model.enabled" [checked]="model.enabled" name="enabled" id="flexCheckDefault">
                <input *ngIf="requestBetType != null" class="form-check-input" type="checkbox"
                    [value]="requestBetType.enabled" (input)="requestBetType.enabled" name="enabled"
                    id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Aposta está habilitada
                </label>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-8">
            <div class="form-floating mb-3 shadow">
                <textarea *ngIf="model != null" class="form-control border-secondary"
                    [value]="model!.templateMessageTelegram" (input)="model!.templateMessageTelegram"
                    name="templateMessageTelegram" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <textarea *ngIf="requestBetType != null" class="form-control border-secondary"
                    [value]="requestBetType.templateMessageTelegram" (input)="model!.templateMessageTelegram"
                    name="templateMessageTelegram" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Template de Mensagem Telegram</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-check">
                <input *ngIf="model != null" class="form-check-input" type="checkbox"
                    [value]="model!.automaticSendTelegram" (input)="model!.automaticSendTelegram"
                    name="automaticSendTelegram" id="flexCheckDefault">
                <input *ngIf="requestBetType != null" class="form-check-input" type="checkbox"
                    [value]="requestBetType.automaticSendTelegram" (input)="requestBetType.automaticSendTelegram"
                    name="automaticSendTelegram" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Envio automático de mensagem pelo Telegram
                </label>
            </div>
        </div>
    </div> -->
</form>