<form #f="ngForm">
    <div class="row">
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input type="text" [value]="model!.name"
                    (input)="model!.name" name="nameBet"
                    class="form-control border-secondary" id="inputNameBet"
                    placeholder="Nome da Aposta">
                <label for="inputNameBet" class="form-label">Nome da Aposta</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input type="number" [value]="model!.scoreMinimumEntry"
                    (input)="model!.scoreMinimumEntry" name="scoreMinimumEntry"
                    class="form-control border-secondary" id="inputScoreAlmostEntry"
                    placeholder="Valor Score (Perto do Padrão de Entrada)">
                <label for="inputMinimumTimeAnalysis" class="form-label">Valor Score
                    (Perto
                    do Padrão de
                    Entrada)</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input type="number" [value]="model!.scoreEntry"
                    (input)="model!.scoreEntry" name="scoreEntry"
                    class="form-control border-secondary" id="inputScoreAlmostEntry"
                    placeholder="Valor Score (Padrão de Entrada)">
                <label for="inputMinimumTimeAnalysis" class="form-label">Valor Score
                    (Padrão
                    de
                    Entrada)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-floating">
                <select class="form-select shadow border-secondary" name="periodMatch"
                    aria-label="Default select example" id="selectPeriod">
                    <option selected [value]="model!.periodMatch">
                        {{model!.periodMatch}}</option>
                    <option value="1" (value)="model!.periodMatch">1T</option>
                    <option value="2" (value)="model!.periodMatch">2T</option>
                </select>
                <label for="selectPeriod">Período do Jogo</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input type="text" [value]="model!.minimumDashMinute"
                    (input)="model!.minimumDashMinute" name="minimumDashMinute"
                    class="form-control border-secondary" id="inputMinimumTimeAnalysis"
                    placeholder="Tempo Mínimo de Análise da Aposta (Min)">
                <label for="inputMinimumTimeAnalysis" class="form-label">Tempo Mínimo de
                    Análise da Aposta
                    (Min)</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input type="text" class="form-control border-secondary"
                    [value]="model!.maximumDashMinute"
                    (input)="model!.maximumDashMinute" name="maximumDashMinute"
                    id="inputMaximumTimeAnalysis"
                    placeholder="Tempo Máximo de Análise da Aposta (Min)">
                <label for="inputMaximumTimeAnalysis" class="form-label">Tempo Máximo de
                    Análise da Aposta
                    (Min)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input type="text" class="form-control border-secondary"
                    [value]="model!.minimumOdd" (input)="model!.minimumOdd"
                    name="minimumOdd" id="inputminimumOdd"
                    placeholder="Valor mínimo da Odd para realizar entrada">
                <label for="inputminimumOdd" class="form-label">Valor mínimo da Odd para
                    realizar entrada</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 shadow">
                <input type="text" class="form-control border-secondary"
                    [value]="model!.unit" (input)="model!.unit" name="unit"
                    id="unit" placeholder="Valor da unidade de entrada da aposta (U)">
                <label for="inputminimumOdd" class="form-label">Valor da unidade de
                    entrada da aposta (U)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-floating mb-3 shadow">
                <textarea class="form-control border-secondary"
                    [value]="model!.templateMessageTelegram"
                    (input)="model!.templateMessageTelegram"
                    name="templateMessageTelegram" placeholder="Leave a comment here"
                    id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Template de Mensagem Telegram</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                    [value]="model!.automaticSendTelegram"
                    (input)="model!.automaticSendTelegram"
                    name="automaticSendTelegram" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Envio automático de mensagem pelo Telegram
                </label>
            </div>
        </div>
    </div>
</form>