/* You can add global styles to this file, and also import other style files */
body {
    background-color: #c2c2c2;
}

.col-15 {
    flex: 0 0 auto;
    width: 10.33333333%;
}

.split-div {
    resize: vertical;
    overflow: auto;
    border: 1px solid;
    border-color: #c2c2c2;
}

